# Cloudflare account and auth
CLOUDFLARE_ACCOUNT_ID=replace_with_account_id
CLOUDFLARE_API_TOKEN=replace_with_api_token

# Optional route domains if workers_dev is disabled
PAGOOZ_API_DEV_DOMAIN=dev-api.pagooz.com
PAGOOZ_DASHBOARD_DEV_DOMAIN=dev-dashboard.pagooz.com
PAGOOZ_CHECKOUT_DEV_DOMAIN=dev-checkout.pagooz.com
PAGOOZ_API_DOMAIN=api.pagooz.com
PAGOOZ_API_STAGING_DOMAIN=api-staging.pagooz.com
